:root {

    /* --- ESPAÇOS --- */
    /* Usar com paddings, margins, mt(margin-top), gap, positions, e em alguns casos com altura e largura*/

    --espaco-1: 0.25rem; /*4px*/
    --espaco-2: 0.5rem; /*8px = acima x 2*/
    --espaco-3: 1rem; /*16px = acima x 2*/
    --espaco-4: 1.5rem; /*24px = acima x 1,5*/
    --espaco-5: 2rem; /*32px = acima x 1,33*/
    --espaco-6: 3rem; /*48px = acima x 1,5*/

    /* --- Tamanhos de Fontes --- */
    /* Usar para configurar tamanhos de textos de forma fluida entre telas*/

    --tamanho-fonte-1: 0.75rem; /*12px = 75% do tamanho da letra padrão*/
    --tamanho-fonte-2: 0.875rem; /*14px = 87,5% do tamanho da letra padrão*/
    --tamanho-fonte-3: 1rem; /*16px = tamanho padrão da fonte*/
    --tamanho-fonte-4: 1.25rem; /*24px = acima x 1,25*/
    --tamanho-fonte-5: 1.5rem; /*32px = acima x 1,2*/
    --tamanho-fonte-6: 2rem; /*48px = acima x 1,5*/

    /* === Cores (OKlch) === */
    /*usar para browser mais recentes*/

    /* --- Vermelho ---*/
    --vermelho-5: oklch(97.1% 0.013 17.38);
    --vermelho-10:oklch(93.6% 0.032 17.717);
    --vermelho-20:oklch(88.5% 0.062 18.334);
    --vermelho-30:oklch(80.8% 0.114 19.571);
    --vermelho-40:oklch(70.4% 0.191 22.216);
    --vermelho-50:oklch(63.7% 0.237 25.331);
    --vermelho-60:oklch(57.7% 0.245 27.325);
    --vermelho-70:oklch(50.5% 0.213 27.518);
    --vermelho-80:oklch(44.4% 0.177 26.899);
    --vermelho-90:oklch(39.6% 0.141 25.723);
    --vermelho-95:oklch(25.8% 0.092 26.042);

    /* --- Laranja ---*/
    --laranja-5: oklch(98% 0.016 73.684);
    --laranja-10:oklch(95.4% 0.038 75.164);
    --laranja-20:oklch(90.1% 0.076 70.697);
    --laranja-30:oklch(83.7% 0.128 66.29);
    --laranja-40:oklch(75% 0.183 55.934);
    --laranja-50:oklch(70.5% 0.213 47.604);
    --laranja-60:oklch(64.6% 0.222 41.116);
    --laranja-70:oklch(55.3% 0.195 38.402);
    --laranja-80:oklch(47% 0.157 37.304);
    --laranja-90:oklch(40.8% 0.123 38.172);
    --laranja-95:oklch(26.6% 0.079 36.259);

    /* --- Ambar ---*/
    --ambar-5: oklch(98.7% 0.022 95.277);
    --ambar-10: oklch(96.2% 0.059 95.617);
    --ambar-20: oklch(92.4% 0.12 95.746);
    --ambar-30: oklch(87.9% 0.169 91.605);
    --ambar-40: oklch(82.8% 0.189 84.429);
    --ambar-50: oklch(76.9% 0.188 70.08);
    --ambar-60: oklch(66.6% 0.179 58.318);
    --ambar-70: oklch(55.5% 0.163 48.998);
    --ambar-80: oklch(47.3% 0.137 46.201);
    --ambar-90: oklch(41.4% 0.112 45.904);
    --ambar-95: oklch(27.9% 0.077 45.635);

}

/* = = = PARA TODOS OS LAYAOUTS = = = */

/* --- PILHAS --- */
/* Usar em laouyts em que os elementos ficam uns em cima dos outros, ou empilhados */

.pilha {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-3);
}

/* --- Agrupamentos --- */
/* Usar em laouyts em que os elementos ficam em um grupo horizontal, como botões, tags e menus */

.agrupamento {
    display: flex;
    flex-wrap: wrap;
    gap: var(--espaco-2);
}

/* --- Centralizados --- */
/* Usar em laouyts em que os elementos ficam centralizados na pagina ladding page (pagina cartão de visita) */

.centraliza {
    margin-inline: auto;
    max-width: 60ch;
    padding-inline: var(--espaco-3);
}

/* --- Barras Laterais --- */
/* Usar em layouts em que os elementos ficam estruturados nos cantos das paginas de forma vertical geralmente para controlar um conteudo ou para auxiliar a navegação, bem como fazer um painel de avisos e utilidades da pagina */

.barra-lateral {
    display: flex;
    flex-wrap: wrap;
    gap: var(--espaco-4);
}

.barra-lateral > :first-child {
    flex-basis: 250px;
    flex-grow: 1;
}

.barra-lateral > :last-child {
    flex-basis: 0;
    flex-grow: 999;
}

/* --- Grades Automaticas --- */
/* Usar em laouyts em que os elementos que precisam ficar organizados dentro de um formato de tabela com linhas e colunas */

.auto-grade {
    display: grid;
    gap: var(--espaco-3);
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

/* --- Capas e Barners --- */
/* Usar em laouyts de capas e baners, a primeira coisa que o usuario deve ver, onde o design brilha */

.capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: var(--espaco-5);
}

